@keyframes emoji-animation-drop-in {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
}

@keyframes emoji-animation-drop-out {
    80% {
        opacity: 0;
    }
    to {
        opacity: 0;
        transform: translateY(100%);
    }
}

.emoji-container {
    /* Create a new positioning context for the emoji which require absolute positioning. */
    position: relative;
    left: -1.25em;
}

.emoji {
    position: absolute;
    animation: emoji-animation-drop-in 800ms cubic-bezier(0.6, 1.64, 0.8, 1) forwards;
}

.emoji--transitioning-out {
    animation: emoji-animation-drop-out 1200ms cubic-bezier(0.5, 1, 0.33, 1) forwards;
}
