/*
Sticker: https://codepen.io/5t3ph/pen/mdVZYpr
Sticker peel: https://codepen.io/bsehovac/pen/aqVobv
Brushed metal toggle: https://codepen.io/iliadraznin/pen/AYQGKj
Brushed metal buttons: https://codepen.io/simurai/pen/kvyEeg
 */

.soa__wrapper {
    /* PARAMETRIC VARS */
    /* TODO: Define the shadow and glimmer angles as _central angles_, not as starting angles */
    --sticker-diffuse-shadow-color: rgb(20 20 40 / 0.1);
    --sticker-diffuse-shadow-size: 3rem;
    --sticker-sharp-shadow-color: rgb(20 20 40 / 0.2);
    --sticker-sharp-shadow-size: calc(1rem / 3);
    --sticker-sharp-shadow-offset: 0 0;

    --sticker-background: rgb(216 217 225 / 1);
    --sticker-size: 15em;

    --stamp-outline-width: 1.25em;
    --stamp-outline-color: hsl(0deg 0% 98% / 1);

    --ring-size: 1.5;

    --text-inset-distance: 2.8em;
    --text-color: hsl(0deg 0% 15% / 1);


    --shadow-color: hsl(215deg 8% 28% / 1);
    --shadow-starting-angle: 45deg;
    --shadow-angular-width: 80deg;
    --shadow-umbra-width: 20deg;

    --glimmer-color: hsl(240deg 100% 98% / 1);
    --glimmer-angular-width: 0;
    --glimmer-umbra-width: 0;

    /* COMPUTED VARS */
    --shadow-opposite-angle: calc(var(--shadow-starting-angle) + (pi * 1rad));
    --shadow-umbra-start-angle: calc((var(--shadow-angular-width) / 2) - (var(--shadow-umbra-width) / 2));
    --shadow-umbra-end-angle: calc((var(--shadow-angular-width) / 2) + (var(--shadow-umbra-width) / 2));

    --glimmer-starting-angle: calc(var(--shadow-starting-angle) - ((pi * 1rad) / 3));
    --glimmer-opposite-angle: calc(var(--glimmer-starting-angle) + (pi * 1rad));

    filter: drop-shadow(2px 2px var(--sticker-diffuse-shadow-size) var(--sticker-diffuse-shadow-color)) drop-shadow(var(--sticker-sharp-shadow-offset) var(--sticker-sharp-shadow-size) var(--sticker-sharp-shadow-color));
}

.soa {
    width: var(--sticker-size);
    height: var(--sticker-size);
    border-radius: 50%;
    margin-inline: auto;
    background-color: var(--sticker-background);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: url(#sticker-outline);
}

.soa::before {
    content:"";
    position: absolute;
    width: var(--sticker-size);
    height: var(--sticker-size);
    z-index: 1000;
    border: var(--stamp-outline-width) solid var(--stamp-outline-color);
    border-radius: 50%;
}

.soa__authenticity-text-svg {
    width: calc(var(--sticker-size) - var(--text-inset-distance));
    z-index: 1000;
}

.soa__authenticity-text {
    letter-spacing: 2px;
    font-size: 0.5rem;
    font-weight: 500;
    fill: var(--text-color);
}

.soa__ray {
    position: absolute;
    border-radius: 50%;
}

.soa__ray--sharp-from-center {
    width: var(--sticker-size);
    height: var(--sticker-size);
    background:
            radial-gradient(closest-side, rgba(216, 217, 225, 0.5), var(--sticker-background) 50%),
            /* DARK STRAKE ONE */
            conic-gradient(from var(--shadow-starting-angle), var(--shadow-color), var(--shadow-color) var(--shadow-angular-width), transparent var(--shadow-angular-width)),
            /* DARK STRAKE ONE OPPOSITE */
            conic-gradient(from var(--shadow-opposite-angle), var(--shadow-color), var(--shadow-color) var(--shadow-angular-width), transparent var(--shadow-angular-width)),
            /* LIGHT STRAKE ONE */
            conic-gradient(from var(--glimmer-starting-angle), var(--glimmer-color), var(--glimmer-color) 20deg, transparent 20deg),
            /* LIGHT STRAKE ONE OPPOSITE */
            conic-gradient(from var(--glimmer-opposite-angle), var(--glimmer-color), var(--glimmer-color) 20deg, transparent 20deg);
}

.soa__ray--diffuse-from-edge {
    width: var(--sticker-size);
    height: var(--sticker-size);
    background:
            radial-gradient(closest-side, var(--sticker-background) 0%, transparent 100%),
            /* SHADOW */
            conic-gradient(from var(--shadow-starting-angle), transparent, var(--shadow-color) var(--shadow-umbra-start-angle), var(--shadow-color) var(--shadow-umbra-end-angle), transparent var(--shadow-angular-width)),
            /* SHADOW OPPOSITE */
            conic-gradient(from var(--shadow-opposite-angle), transparent, var(--shadow-color) var(--shadow-umbra-start-angle), var(--shadow-color) var(--shadow-umbra-end-angle), transparent var(--shadow-angular-width)),
            /* GLIMMER */
            conic-gradient(from var(--glimmer-starting-angle), transparent, var(--glimmer-color) 5deg, var(--glimmer-color) 10deg, transparent 15deg),
            /* GLIMMER OPPOSITE */
            conic-gradient(from var(--glimmer-opposite-angle), transparent, var(--glimmer-color) 5deg, var(--glimmer-color) 10deg, transparent 15deg);
    filter: blur(1px);
}

/*.ring {*/
/*    width: calc(var(--sticker-size) / var(--ring-size));*/
/*    height: calc(var(--sticker-size) / var(--ring-size));*/
/*    border-radius: 50%;*/
/*    position: absolute;*/
/*    border: 30px solid white;*/
/*}*/
