*, *::before, *::after {
    box-sizing: border-box;
}

html {
  min-height: 100%;
  overflow: hidden;
}

body {
  color: var(--primary-text--light-appearance);
  background-color: var(--primary-bg--light-appearance);
  font: 400 1.1em var(--text-typeface);
  line-height: 1.5;
  max-width: var(--content-width);
  margin-inline: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--display-typeface);
  margin: 0;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 8em;
  cursor: pointer;
  transition: transform 100ms ease;
  -webkit-user-select: none;
  user-select: none;

  &:active {
    transform: scale(0.95);
  }
}

h2 {
  font-size: 4em;
}

strong {
  font-weight: 500;
}
