*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
  margin: 0;
  overflow: hidden;
  height: 120dvh; /* TODO: Caclulate the actual height needed */
}

body {
  color: var(--primary-text--light-appearance);
  background-color: var(--primary-bg--light-appearance);
  font: 400 1.1em var(--text-typeface);
  line-height: 1.5;
  width: 100vw;
  padding-inline: calc((100vw - var(--content-width)) / 2);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--display-typeface);
  margin: 0;
  letter-spacing: -0.03em;
}

h1 {
  margin-block-start: 1em;
  font-size: 8em;
  cursor: pointer;
  transition: transform 100ms ease;
  -webkit-user-select: none;
  user-select: none;

  &:active {
    transform: scale(0.95);
  }
}

h2 {
  font-size: 4em;
}

strong {
  font-weight: 500;
}
