:root {
    --primary-text--light-appearance: hsl(0deg 0% 20%);
    --primary-bg--light-appearance: hsl(0deg 100% 100%);

    --display-typeface: 'Neue Haas Grotesk Display Pro';
    --text-typeface: 'Neue Haas Grotesk Text Pro';

    --content-width: 36em;
}
