@keyframes edge-bounce {
  to, from {
    transform: translateX(var(--x-translation));
  }
  50% {
    transform: translateX(calc(var(--x-translation) + var(--x-edge-bounce)));
  }
}

main {
  --x-duration: 200ms;
  --z-duration: 500ms;
  --x-translation: 0px;
  --z-translation: 0px;
  --z-perspective: 100px;
  --x-edge-bounce: 100px;

  display: flex;
  margin-block-start: 10em;
  transition: transform var(--x-duration) ease;
  transform: translateX(var(--x-translation));
  animation-play-state: paused;
}

main.edge-bounce {
  animation: 200ms edge-bounce ease-in-out forwards;
}

section {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    opacity: 0.2;
  }
}

section[data-xmb-x-active] {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    opacity: 1;
  }
}

/* Why not simply apply `display: none;` to `.subsection`? This breaks the starting style for the transitions, causing
 transitions from hidden to visible to not animate properly. This could be improved by using a cascade layer. */
section:not([data-xmb-x-active]) .subsection {
  display: none;
}

[data-xmb-x-active] {
  .subsection {
    transform-origin: 0 0;
    pointer-events: none;
    opacity: 1;
    position: absolute;
    width: 40em;
    transition: transform var(--z-duration) ease,
    filter 500ms ease-out,
    opacity 500ms ease-out;
    transition-behavior: allow-discrete;
  }

  .subsection[data-xmb-z-active] {
    pointer-events: auto;
    display: block;
    opacity: 1;
    transform: perspective(var(--z-perspective)) translate3D(0,0,0);
    transition: transform var(--z-duration) ease,
    opacity var(--z-duration) ease,
    display var(--z-duration) ease;
    transition-behavior: allow-discrete;
  }

  /* All subsections that are not the immediate one beneath the active subsection should be hidden. The immediate next
   subsection is handled using the `+` selector below. */
  .subsection[data-xmb-z-active] ~ .subsection {
    display: none;
  }

  .subsection[data-xmb-z-active] + .subsection {
    display: block;
    transform: perspective(var(--z-perspective)) translate3D(200px, -25px, -50px);
    transition: transform var(--z-duration) cubic-bezier(0,1,1,1),
    filter 500ms ease,
    opacity 500ms ease-out,
    display var(--z-duration) ease;
    transition-behavior: allow-discrete;
    opacity: 0.2;
    filter: blur(5px);
  }

  /* Select the subsection in the z-stack that is "behind" the user's screen. */
  .subsection:has(~ .subsection[data-xmb-z-active]) {
    opacity: 0;
    transform: perspective(var(--z-perspective)) translate3D(-200px, 25px, 50px);
    transition: transform var(--z-duration) ease, opacity var(--z-duration) ease, display var(--z-duration) ease;
    transition-behavior: allow-discrete;

    @starting-style {
      display: block;
    }
  }
}
